<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/nav.ejs') %>
      <h2>Top 10:</h2>
      <ul class="index">
        <% for (let i = 0; i < mangas.length; i++) { %>
          <li class="index-list">
            <div class="title-container">
              <a  class="title" href="/readr/<%= mangas[i].id %>"><%= mangas[i].title %></a>
            </div>
            <div class="img-container">
              <a class="index-img" href="/readr/<%= mangas[i].id %>"><img class="index-img" src="<%= mangas[i].img %>" alt="<%= mangas[i].title %>"></a>
            </div>
            <% if (currentUser) { %>
            <div class="bottom-btns">
              <a class="button" href="/readr/<%= mangas[i].id %>/edit">Edit</a>
              <form action="/readr/<%= mangas[i].id %>?_method=DELETE" method="POST">
                <input class="delete d-button" type="submit" value="Remove">
              </form>
            </div>
            <div class="new-border"></div>
            <% } %>
            <br/><br/>
          </li>
        <% } %>
      </ul>
    </div>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
