<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include ('../partials/nav.ejs') %>
      <h2><%= manga.title %></h2>
      <div class="show-container">
        <img class="show-img" src="<%= manga.img %>" alt="<%= manga.title %> Cover">
        <div class="infotainer">
          <div class="description">
            Description: <br/>
              <%= manga.description %><br/><br/>
          </div>
          <div class="desc-links">
            <a href="<%= manga.infoLink %>">Info</a><br/><br/>
            <a href="<%= manga.buyLink %>">Buy</a><br/><br/>
            <% if (currentUser) { %>
            <a href="/readr/<%= manga.id %>/edit">Edit</a><br/><br/>
          </div>
          <% } %>
        </div>
      </div>
      <div class="show-border">
      </div>
      <div class="comment-section">
        <h3>Comments</h3>
        <% if (currentUser) { %>
          <form class="" action="/readr/<%=id%>" method="POST">
            <div class="comment-username">
            Username: <input type="text" name="username" value="<%= currentUser.username %>"><br/><br>
          </div>
            <textarea name="comment" rows="8" cols="80" placeholder="Enter comment here"></textarea><br/>
            <input type="submit" value="Comment">
          </form>
        <% } %>

        <ul>
        <% for (let i = 0; i < manga.comments.length; i++) { %>
          <li><%= manga.comments[i].body %></li>
        <% } %>
        </ul>
        <div class="show-border">
        </div>
      </div>
    </div>
    </div>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
